body {
    margin: 0;
}

header{
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
}

.user-header{
    width: 80%;
    display: flex;
}
.username{
    margin-left: 250px;
}
.logout-button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-form{
    width: 50%;
}
button{
    background: transparent linear-gradient(180deg, #46465A 0%, #131212 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 19px;
    color: #C1C1C1;
    margin: 1em;
    line-height: 2.5em;
}
.user, .admin, .main{
    width: 80%
}
.logout{
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

main > nav {
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20%;
}

.text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}