body{
    background: whitesmoke;
}
.exceptions, .errors, .vulnerabilities{
    margin: 30px 20px;
}

li{
    margin: 20px 0px;
}
a{
    font-size: 22px;
}
img{
    width: 80px;
}
header{
    display: flex;
}
